* {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}

section {    
    position: fixed;
    top: 0px;
    height: 100vh;
}

#channel-area {
    width: 399px;
    height: 100vh;
    border-right: 1px solid rgb(199, 199, 199);
}

#message-area {
    width: calc(100% - 400px);
    left: 400px;
}
/* APP BAR */

.headbar {
    background-color: #eeeeee;
    color: #00838f;
    height: 66px;
    line-height: 66px;
    padding: 0px 22px 0px 22px;
}

.headbar img {
    background-color: #00838f;
}

#app-title {
    color: #00838f;
}

h1 {
    font-size: 18px;
}

.headbar i {
    line-height: 66px;
}

#logo {
    height: 44px;
}


/* CHANNELS LIST */

h2 {
    color: #00838f;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 22px 22px 11px 11px; 
}

.channel-list {
    /* #3 #channels #list modifies h2 to ul */
    background-color: white;
    /* #3 #channels #bullets removed */
    list-style-type: none;
}

.channel-list li {
    box-sizing: border-box;
    padding: 22px;
    height: 66px;
}

.channel-list li.selected {
    background-color: #eeeeee;
    border-right: 3px solid #00838f;
}

/* MESSAGES */
#message-area h1 {
    display: inline;
}
.message {
    width: 75%;
}

.message-content {
    padding: 11px;
    margin: 10px 11px;
    text-align: left;
}

.message-content h3 {
    font-size: 14px;
    color: #00838f;
    margin-bottom: 11px;
}

.message-content p {
    font-size: 14px;
}

.incoming-message .message-content {
    background-color: #eeeeee;
}

.outgoing-message .message-content {
    background-color: #00838f;
    color: white;
}

.timestamp {
    font-size: 12px;
    color: #666666;
}

/* MESSAGE-BUTTONS */

button {
    background-color: #00838f;
    color: #ffffff;
    text-transform: uppercase;
    font-size: larger;
}