* {
    font-family: Roboto, Arial, sans-serif;
}

h1 {
    color: #00838f;
}

h2 {
    color: #00838f;
    font-size: smaller;
}

p {
    background-color: #eeeeee;
}

button {
    background-color: #00838f;
    color: #ffffff;
    text-transform: uppercase;
    font-size: larger;
}